:root {
	font-family: Agave, monospace;
	font-size: 16px;
	line-height: 1.5;
	color: #aad4aa;
}

body {
	background-color: #0b130a;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
	font-family: SUSE, serif;
	font-weight: bold;
	color: #64b46f;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

/* Paragraphs */
p {
	font-size: 1rem;
	margin-bottom: 1rem;
}

/* Small text */
small {
	font-size: 0.875rem;
}

/* Links */
a {
	color: #EB9486;
	text-decoration: none;
}

a:hover {
	transition: all 0.5s;
	text-decoration: wavy underline;
}


@font-face {
	font-family: Agave;
	src: url("fonts/agave.ttf");
}

@font-face {
	font-family: SUSE;
	src: url("fonts/suse_extra.ttf");
}