:root {
	font-family: Agave, monospace;
	font-display: swap;
	font-size: 16px;
	line-height: 1.5;
	color: #aad4aa;
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	width: 100%;
	background-color: #0b130a;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
	font-family: SUSE, serif;
	font-weight: bold;
	color: #64b46f;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

/* Paragraphs */
p {
	font-size: 1rem;
	margin-bottom: 1rem;
}

/* Small text */
small {
	font-size: 0.875rem;
}

/* Links */
a {
	color: #EB9486;
	text-decoration: underline;
}

a:hover {
	transition: all 0.5s;
	text-decoration: wavy underline;
}

/* footer */
footer {
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	align-content: center;
	background: #050a04;
	mask: var(--mask);

	--mask:
    radial-gradient(22.36px at 50% 30px,#000 99%,#0000 101%) calc(50% - 20px) 0/40px 100%,
    radial-gradient(22.36px at 50% -20px,#0000 99%,#000 101%) 50% 10px/40px 100% repeat-x;
}

footer > * {
	margin-top: 24px;
	font-size: 0.8rem;
}

@font-face {
	font-family: Agave;
	src: url("fonts/agave.ttf");
}

@font-face {
	font-family: SUSE;
	src: url("fonts/suse_extra.ttf");
}